<!DOCTYPE html>
<html lang="es">
<head>
    <title>Videoclub</title>
    <meta charset="utf-8">
    <link rel=StyleSheet href="../static/style.css" type="text/css">
</head>
<body>
    <div class="sidebar">
        <nav>
            <ul>
                <li><a href="index.html">Página principal</a></li>
                <li><a href="login.html">Iniciar sesión</a></li>
                <li><a href="#">Cesta de la compra</a></li>
                <li><a href="#">Historial de compras</a></li>
            </ul>
        </nav>  
    </div>




    <div class="main">
        <div id="search">
            <input id="search-box" type="text" placeholder="Buscar película..." name="search">
            <select id="filter" name="filter">
                <option selected value="">Filtro de género</option>
                <option value="Acción">Acción</option>
                <option value="Comedia">Comedia</option>
                <option value="Drame">Drama</option>
                <option value="Terror">Terror</option>
            </select>
            <button type="submit">Buscar</button>
        </div> 
        <div id="catalog">
            <a href="#"><img class="movie" src="../img/movies/pulp-fiction.jpeg" alt="Pulp fiction" title="Pulp fiction"></a>
            <a href="#"><img class="movie" src="../img/movies/barbie.jpeg" alt="Barbie" title="Barbie"></a>
            <a href="#"><img class="movie" src="../img/movies/pulp-fiction.jpeg" alt="Pulp fiction" title="Pulp fiction"></a>
            <a href="#"><img class="movie" src="../img/movies/barbie.jpeg" alt="Barbie"></a>
            <a href="#"><img class="movie" src="../img/movies/pulp-fiction.jpeg" alt="Pulp fiction" title="Pulp fiction"></a>
            <a href="#"><img class="movie" src="../img/movies/barbie.jpeg" alt="Barbie"></a>
        </div>
    </div>




    <header>
        <div class="header-content">
            <h1 class="name">VIDEOCLUB</h1>
            <div class="header-sign-in">
                <p>Hola, identifíquese</p>
                <button type="button"><b>Iniciar sesión</b></button>
            </div>
            <div class="shopping-cart">
                <a href="#"><img class="shopping-cart-img" src="../img/shopping-cart.jpeg" alt="Carrito"></a>
            </div>
        </div>
    </header>
    <footer>
        <p>Copyright © rubgarfue & lauradepazc</p>
    </footer>
</body>
</html>

