<!DOCTYPE html>
<html lang="es">
<head>
    <title>Videoclub</title>
    <meta charset="utf-8">
    <link rel=StyleSheet href="../static/style.css" type="text/css">
</head>
<body>
    <div class="sidebar">
        <nav>
            <ul>
                <li><a href="index.html">Página principal</a></li>
                <li><a href="login.html">Iniciar sesión</a></li>
                <li><a href="#">Cesta de la compra</a></li>
                <li><a href="#">Historial de compras</a></li>
            </ul>
        </nav>  
    </div>
    <div class="main">
        <p>HolaaAaaaaaaaaAaaaaaaaAaaaaaaaAaaaa</p>
        <div class="search">
            <form>
                <input type="text" placeholder="Buscar película" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div> 
    </div>
    <header>
        <div class="header-content">
            <h1 class="name">VIDEOCLUB</h1>
            <div class="header-sign-in">
                <p>Hola, identifíquese</p>
                <button type="button">Iniciar sesión</button>
            </div>
            <div class="shopping-cart">
                <a href="#"><img class="shopping-cart-img" src="../img/shopping-cart.jpeg" alt="Carrito"></a>
            </div>
        </div>
    </header>
    <footer>
        <p>Copyright © rubgarfue & lauradepazc</p>
    </footer>
</body>
</html>

