<!DOCTYPE html>
<html lang="es">
<head>
    <title>Videoclub</title>
    <meta charset="utf-8">
    <link rel=StyleSheet href="../static/style.css" type="text/css">
</head>
<body>

    <div class="sidebar">
        <nav>
            <ul>
                <li><a href="index.html">Página principal</a></li>
                <li><a href="login.html">Iniciar sesión</a></li>
                <li><a href="#">Cesta de la compra</a></li>
                <li><a href="#">Historial de compras</a></li>
            </ul>
        </nav>  
    </div>

    <div class="main">
        <div id="movie-screen">
            <p id="movie-title">Pulp fiction</p>
            <p id="movie-director">John Smith</p>
            <p id="movie-year">1999</p>
            <img id="movie-img" src="../img/movies/pulp-fiction.jpeg" alt="Pulp fiction" title="Pulp fiction">
            <p id="movie-summary">Bla bla bla</p>
            <p id="movie-genre">Random</p>
            <p id="movie-cast">Actor1, actor2...</p>
            <p id="movie-price">10.99$</p>
            <button type="button">Añadir al carrito</button>

        </div>
    </div>

    <header>
        <div class="header-content">
            <h1 class="name">VIDEOCLUB</h1>
            <div class="header-sign-in">
                <p>Hola, identifíquese</p>
                <button type="button"><b>Iniciar sesión</b></button>
            </div>
            <div class="shopping-cart">
                <a href="#"><img class="shopping-cart-img" src="../img/shopping-cart.jpeg" alt="Carrito"></a>
            </div>
        </div>
    </header>

    <footer>
        <p>Copyright © rubgarfue & lauradepazc</p>
    </footer>
</body>
</html>

