<!DOCTYPE HTML> 
<!--
 Ejemplo de MongoDB
-->
<HTML> 
  <HEAD> 
	  <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8"> 
	  <TITLE>Ejemplo de MongoDB</TITLE>
  </HEAD> 

  <BODY>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
 
    <h2> Ejemplo de MongoDB</h2>

    {% for movie_table in movies%}
      <table class="table">
        {% if loop.first %}
          <caption><p class="table-title"><b>Peliculas de ciencia ficcion entre 1994 y 1998:</b></p></caption>
        {% elif not loop.last %}
          <caption><p class="table-title"><b>Peliculas de drama del 1998 que empiezan por 'The':</b></p></caption>
        {% else %}
          <caption><p class="table-title"><b>Peliculas protagonizadas por Julia Roberts y Alec Baldwin:</b></p></caption>
        {% endif %}
        <tr>
          <th>Titulo</th>
          <th>Generos</th>
          <th>Anno</th>
          <th>Directores</th>
          <th>Actores</th>
          <th>Peliculas mas relacionadas</th>
          <th>Peliculas relacionadas</th>
        </tr>
        {% for movie in movie_table %}
          <tr>
            <td>{{ movie.movietitle }}</td>
            <td>{{ movie.genres|join('\n') }}</td>
            <td>{{ movie.year }}</td>
            <td>{{ movie.directors|join('\n') }}</td>
            <td>{{ movie.actors|join('\n') }}</td>
            <td>
              <ul>
                {% for m in movie.most_related_movies %}
                  <li>{{ m.title }} - {{ m.year }}</li>
                {% endfor %}
              </ul>
            <td>
              <ul>
                {% for m in movie.related_movies %}
                  <li>{{ m.title }} - {{ m.year }}</li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endfor %}
      </table>
    <hr>
    {% endfor %}

  </BODY>
</HTML>
