{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <p id="history-title"><b>Historial de compras</b></p>

    <!-- Esto se repite para todas las compras -->
    <div class="history-purchase">
        <p class="purchase-date">Compra realizada el 10/09/2021</p>
        <!-- Una table por cada articulo -->
        <table>
            <tr>
                <td rowspan="4"><img class="purchase-movie-img" src="../static/img/movies/pulp-fiction.jpeg" alt="Pulp fiction" title="Pulp fiction"></td>
                <td>Pulp fiction</td>
            </tr>
            <tr>
                <td>Precio por unidad: <b>10,99$</b></td>
            </tr>
            <tr>
                <td>3 unidades</td>
            </tr>
            <tr>
                <td>Total: <b>32,97$</b></td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <td rowspan="4"><img class="purchase-movie-img" src="../static/img/movies/pulp-fiction.jpeg" alt="Pulp fiction" title="Pulp fiction"></td>
                <td>Pulp fiction pero en realiddad es una pelicula con un nombre mazo largo :)</td>
            </tr>
            <tr>
                <td>Precio por unidad: <b>6,99$</b></td>
            </tr>
            <tr>
                <td>1 unidad</td>
            </tr>
            <tr>
                <td>Total: <b>6,99$</b></td>
            </tr>
        </table>
        <br>
        <p class="purchase-total">Total: <b>50,00$</b></p>
    </div>

    <hr>

    <div class="history-purchase">
        <p class="purchase-date">Compra realizada el 08/01/2021</p>
        <!-- Una table por cada articulo -->
        <table>
            <tr>
                <td rowspan="4"><img class="purchase-movie-img" src="../static/img/movies/pulp-fiction.jpeg" alt="Pulp fiction" title="Pulp fiction"></td>
                <td>Pulp fiction</td>
            </tr>
            <tr>
                <td>Precio por unidad: <b>6,99$</b></td>
            </tr>
            <tr>
                <td>1 unidad</td>
            </tr>
            <tr>
                <td>Total: <b>3,99$</b></td>
            </tr>
        </table>
        <br>
        <p class="purchase-total">Total: <b>4,00$</b></p>
    </div>
    
{% endblock %}


