<!DOCTYPE html>
<html lang="es">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <!--<link rel=StyleSheet href="../static/style.css" type="text/css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>

    <div class="sidebar">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Página principal</a></li>
                <li><a href="{{ url_for('login') }}">Iniciar sesión</a></li>
                <li><a href="{{ url_for('shopping_cart') }}">Cesta de la compra</a></li>
                <li><a href="{{ url_for('history') }}">Historial de compras</a></li>
            </ul>
        </nav>  
    </div>

    <div class="main">
        <div id="search">
            <input id="search-box" type="text" placeholder="Buscar película..." name="search">
            <select id="filter" name="filter">
                <option selected value="">Filtro de género</option>
                <option value="Acción">Acción</option>
                <option value="Comedia">Comedia</option>
                <option value="Drame">Drama</option>
                <option value="Terror">Terror</option>
            </select>
            <button type="submit">Buscar</button>
        </div> 
        <p id="catalog-title"><b>Cartelera actual</b></p> <!-- se cambia en funcion de la busqueda -->
        <div id="catalog">
            {% for item in movies %}
            <a href="#"><img class="movie" src="{{ item.poster }}" alt="{{ item.titulo }}" title="{{ item.titulo }}"></a>
            {% endfor %}
        </div>
    </div>

    <header>
        <div class="header-content">
            <h1 class="name">VIDEOCLUB</h1>
            <div class="header-sign-in">
                <p>Hola, identifíquese</p>
                <button type="button"><a href="{{ url_for('index') }}"><b>Iniciar sesión</b></a></button>
            </div>
            <div class="shopping-cart">
                <a href="{{ url_for('shopping_cart') }}"><img class="shopping-cart-img" src="../static/img/shopping-cart.jpeg" alt="Carrito"></a>
            </div>
        </div>
    </header>

    <footer>
        <p>Copyright © rubgarfue & lauradepazc</p>
    </footer>
</body>
</html>

