{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <div id="search">
        <input id="search-box" type="text" placeholder="Buscar película..." name="search">
        <select id="filter" name="filter">
            <option selected value="">Filtro de género</option>
            <option value="Acción">Acción</option>
            <option value="Comedia">Comedia</option>
            <option value="Drame">Drama</option>
            <option value="Terror">Terror</option>
        </select>
        <button type="submit">Buscar</button>
    </div> 
    <p id="catalog-title"><b>Cartelera actual</b></p> <!-- se cambia en funcion de la busqueda -->
    <div id="catalog">
        {% for item in movies %}
        <a href="{{ url_for('movie', movie_id=item.id) }}"><img class="movie" src="{{ item.poster }}" alt="{{ item.titulo }}" title="{{ item.titulo }}"></a>
        {% endfor %}
    </div>
    
{% endblock %}



