<!DOCTYPE html>
<html lang="es">
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <link rel=StyleSheet href="../static/css/style.css" type="text/css">
</head>
<body>
    <div class="sidebar">
        <nav>
            <ul>
                <li><a href="index.html">Página principal</a></li>
                <li><a href="login.html">Iniciar sesión</a></li>
                <li><a href="shopping-cart.html">Cesta de la compra</a></li>
                <li><a href="history.html">Historial de compras</a></li>
            </ul>
        </nav>  
    </div>
    <div class="main">
        <div class="login-screen">
            <div class="form-register-table">
                <h1>Registrarse</h1>
                <hr>

                <table id="in-register-table">
                    <tr>
                        <th><label><b>Nombre de usuario:</b></label></th>
                        <th><label><b>Correo electrónico:</b></label></th>
                    </tr>
                    <tr>
                        <th><input type="text" placeholder="Introduzca un nombre de usuario" required=""></th>
                        <th><input type="email" placeholder="Introduzca un correo electrónico" required=""></th>
                    </tr>
                    <tr>
                        <th><label><b>Contraseña:</b></label></th>
                        <th><label><b>Tarjeta de crédito:</b></label></th>
                    </tr>
                    <tr>
                        <th>
                            <input id="password" type="password" placeholder="Introduzca una contraseña" required="">
                            
                            <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
                            <script type="text/javascript" src="../static/js/passtrength.js"></script>
                            <script type="text/javascript">
                                $(document).ready(function ($) {
                                $('#password').passtrength({
                                    minChars: 4,
                                    passwordToggle: true,
                                    tooltip: true
                                  });
                                });
                            </script>
                        </th>
                        <th><input type="text" placeholder="Introduzca una tarjeta de crédito" maxlength="16" required=""></th>
                    </tr>
                    <tr>
                        <th><label><b>Confirmación de contraseña:</b></label></th>
                        <th><label><b>Introduzca una dirección:</b></label></th>
                    </tr>
                    <tr>
                        <th><input type="password" placeholder="Introduzca su contraseña de nuevo" required=""></th>
                        <th><input type="text" placeholder="Introduzca una dirección" maxlength="50" required=""></th>
                    </tr>
                </table>
                
                <button type="submit" class="submit-button"><b>Registrarse</b></button>
                <p>¿Ya tiene cuenta?</p>
                <a href="login.html">Iniciar sesión</a>
            </div>
        </div>
    </div>
    <header>
        <div class="header-content">
            <h1 class="name">VIDEOCLUB</h1>
            <div class="header-sign-in">
                <p>Hola, identifíquese</p>
                <button type="button"><a href="login.html"><b>Iniciar sesión</b></a></button>
            </div>
            <div class="shopping-cart">
                <a href="shopping-cart.html"><img class="shopping-cart-img" src="../static/img/shopping-cart.jpeg" alt="Carrito"></a>
            </div>
        </div>
    </header>
    <footer>
        <p>Copyright © rubgarfue & lauradepazc</p>
    </footer>
</body>
</html>

