<!DOCTYPE html>
<html lang="es">
<head>
    <title>Shopping cart</title>
    <meta charset="utf-8">
    <link rel=StyleSheet href="../static/css/style.css" type="text/css">
</head>
<body>

    <div class="sidebar">
        <nav>
            <ul>
                <li><a href="index.html">Página principal</a></li>
                <li><a href="login.html">Iniciar sesión</a></li>
                <li><a href="shopping-cart.html">Cesta de la compra</a></li>
                <li><a href="history.html">Historial de compras</a></li>
            </ul>
        </nav>  
    </div>

    <div class="main">
        <div id="shopping-cart-header">
            <p id="shopping-cart-title"><b>Carrito de la compra</b></p>
        </div>

        <!-- Esto se repite para todas las películas en el carrito de la compra -->
        <div class="shopping-movie-list">
            <div class="shopping-movie-img-container">
                <img class="shopping-movie-img" src="../img/movies/pulp-fiction.jpeg" alt="Pulp fiction">
            </div>
            <div class="shopping-movie-info-container">
                <p class="movie-title"><b>Pulp fiction</b></p>
                <p>Precio: <b>10.99€</b></p>

                <div class="shopping-movie-buy">
                    <button type="button">Actualizar unidades</button>
                    <input type="number" value="1" min="1" step="1">
                </div>

                <button class="shopping-movie-delete" type="button">Eliminar del carrito</button>
            </div>
        </div>

        <hr>

        <div class="shopping-movie-list">
            <div class="shopping-movie-img-container">
                <img class="shopping-movie-img" src="../img/movies/barbie.jpeg" alt="Barbie">
            </div>
            <div class="shopping-movie-info-container">
                <p class="movie-title"><b>Barbie: la princesa y la costurera</b></p>
                <p>Precio: <b>10.99€</b></p>

                <div class="shopping-movie-buy">
                    <button type="button">Actualizar unidades</button>
                    <input type="number" value="1" min="1" step="1">
                </div>

                <button class="shopping-movie-delete" type="button">Eliminar del carrito</button>
            </div>
        </div>

        <hr>

        <div id="shopping-process">
            <table id="shopping-process-table">
                <tr>
                    <td class="movie-info-q">Número de productos:</td>
                    <th class="movie-info-a">2</th>
                </tr>
                <tr>
                    <td class="movie-info-q">Precio:</td>
                    <td>
                        <table>
                            <tr>
                                <th class="movie-info-a">10,99€</th>
                            </tr>
                            <tr>
                                <th class="movie-info-a">10,99€</th>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="movie-info-q">Precio total:</td>
                    <th class="movie-info-a">21,98€</th>
                </tr>
            </table>
            <div id="submit-button-container">
                <button type="submit" class="submit-button"><b>Procesar compra</b></button>
            </div>
        </div>
    </div>

    <header>
        <div class="header-content">
            <h1 class="name">VIDEOCLUB</h1>
            <div class="header-sign-in">
                <p>Hola, identifíquese</p>
                <button type="button"><a href="login.html"><b>Iniciar sesión</b></a></button>
            </div>
            <div class="shopping-cart">
                <a href="shopping-cart.html"><img class="shopping-cart-img" src="../static/img/shopping-cart.jpeg" alt="Carrito"></a>
            </div>
        </div>
    </header>

    <footer>
        <p>Copyright © rubgarfue & lauradepazc</p>
    </footer>
</body>
</html>

